<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add block</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link href="/stylesheets/addBlock.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/select2.min.css" rel="stylesheet" type="text/css" />

    <style>
        .select2-dropdown {
            top: 5px !important;
            left: 0px !important;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function (e) {
            // e.preventDefault()
            // $("#error").remove();
            // $('#user').click(function () {
            //     $("#user option[value=default]").remove();
            // })
            // setTimeout(() => {
            //     $("#user").val("10")

            // }, 1000);
            var selectElement = document.getElementById('user');
            console.log('sssssssssssss', selectElement);
            var loginUserId = JSON.parse(localStorage.getItem("login_user")).userDetails.user_id;
            //  payment page after approve request money...
            let approvedData = localStorage.getItem('approvedData');
            console.log('approvedData====', approvedData);
            if (approvedData) {
                approvedData = JSON.parse(approvedData);
                console.log('approvedData==========', approvedData);
                // $("textarea#t2").attr("value", loginUserPublicKey);

                // $("#user").attr("value", approvedData.requestor)
                $(".select2-container").css("display", "none")
                //    console.log('=========---------------', document.getElementById('user').css('display' , 'none'))
                //    document.getElementById('user').style.display = 'none'
                //    document.getElementsByClassName("user").style.display = "none";
                $("#selectedUser").val(approvedData.requestor);

                $("#n1").attr("readonly", true);
                $("#n1").attr("value", approvedData.amount);
                $("textarea#t1").attr("readonly", true);
                $("textarea#t1").attr("value", approvedData.transaction_hash);
                $("textarea#t3").attr("readonly", true);
                $("textarea#t3").attr("value", approvedData.payee_public_key);
                $("textarea#t4").attr("readonly", true);
                $("textarea#t4").attr("value", approvedData.signature);
            } else {
                $("#selectedUser").css("display", "none")
                $(".select2-container").css("display", "inline-block")
                // Get all users who's connect in network...
                $.ajax({
                    url: "http://192.168.0.120:3000/api/user/?" + $.param({ user_id: Number(loginUserId) }),
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        console.log('00000000000', res);
                        console.log('res===========.........', res.data.data_list);
                        let users = res.data.data_list;
                        users.forEach(user => {
                            // console.log("all user ---------", user);
                            // $('#user').append(`<option value="${user}" id=${user.id}> ${user}</option>`);
                            selectElement.options[selectElement.options.length] = new Option(user.name, user.user_id);
                        });
                    }
                });
            }
            // Get login user public key...
            // var value = $("#user option:selected").text();
            console.log('loginUserId-----------------', loginUserId);

            let options = {
                method: 'GET',
                headers: {
                    'Content-Type':
                        'application/json;charset=utf-8'
                },
            }

            let fetchRes = fetch(`http://192.168.0.120:3000/api/user/${loginUserId}`, options);
            fetchRes.then(res =>
                res.json()).then(d => {
                    let loginUserPublicKey = d.data.userDetails.wallet.public_key
                    console.log('login user data-----------------------', loginUserPublicKey);
                    // $("textarea#t2").attr("value", loginUserPublicKey);
                    $("textarea#t2").val(loginUserPublicKey);
                })
        });
    </script>
</head>

<body>
    <div class="container-fluid">

        <div id="main">
            <form id="form1">
                <!-- <div id="error" class="alert">
                    <span class="closebtn">&times;</span>
                </div> -->
                <div id="error" class="alert">
                    <span class="closebtn">&times;</span>
                </div>
                <div class="navBar"> Add Block
                    <button class="logout" id="logout">Logout</button>
                    <!-- onclick="window.location='http://192.168.0.120:3000/api/user/register'" -->
                </div>
                <div class="text">
                    <p>This is where you can add transactions to this block.</p>
                    <!-- <p>This is where you can add transactions to this block.</p> -->
                </div>

                <div class="div1">
                    <!-- <b> Select User : </b><select id='user' , name="user">
                        <option id="default" value="null" selected>Select user</option>
                    </select> -->
                    <b> Select User : </b><select id='user' , name="user" class="select2-container">
                        <option id="default" value="">Select user</option>
                    </select>
                    <input type="text" id="selectedUser" readonly />


                    <!-- <div class="div3"> -->
                    <div class="row">
                        <div class="div2">
                            <p class="txt1"><b>Transaction Hash</b></p>
                            <textarea id="t1" class="textarea1" cols="30" rows="5" style="overflow:scroll;" required
                                readonly></textarea>
                        </div>
                        <div class="div2">
                            <p class="txt1"><b>Sender Public Key </b></p>
                            <textarea id="t2" class="textarea1" cols="30" rows="5" required readonly></textarea>
                        </div>
                        <div class="div2">
                            <!-- <i class="fas fa-arrow-right arrow" aria-hidden="true"></i> -->
                            <i class="arrow" aria-hidden="true"> = &nbsp;</i>
                        </div>

                        <div class="div2">
                            <p class="txt1"><b>Receiver Public Key </b></p>
                            <textarea id="t3" class="textarea1" style="margin-left: 25px;" cols="30" rows="5" required
                                readonly></textarea>
                        </div>
                        <div class="div2 div4">
                            <p class="txt1"><b>Amount($) </b></p>
                            <input id="n1" type="number" value="0" min="1" class="num"
                                onchange="amountChange(this.value)" required readonly>
                        </div>
                        <div class="div2">
                            <p class="txt1"><b> Signature </b></p>
                            <textarea id="t4" class="textarea1" cols="30" rows="5" required readonly></textarea>
                        </div>
                    </div>
                </div>

                <div class="row div5">
                    <button id="add-block" class="btn">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i><b> Add Transaction To Block </b>
                    </button>
                    <button class="btn btn1" id="cancel">Cancel</button>
                </div>
            </form>
        </div>


        <div class="footer">
            <!-- Include Font Awesome Stylesheet in Header -->

            <div class="info">
                <div style="float: left;">
                    <a href="https://builtin.com/blockchain" target="new">About</a>
                    <a style="padding-left: 15px;" href="https://builtin.com/blockchain" target="new">Support</a>
                    <a style="padding-left: 15px;" href="https://builtin.com/blockchain" target="new">Help</a>
                    <a style="padding-left: 15px;" href="https://builtin.com/blockchain" target="new">Fees</a>
                </div>
                <section id="lab_social_icon_footer">
                    <div class="text-center center-block">
                        <a href="https://www.facebook.com/bootsnipp"><i id="social-fb"
                                class="fa fa-facebook-square fa-3x social"></i></a>
                        <a href="https://twitter.com/bootsnipp"><i id="social-tw"
                                class="fa fa-twitter-square fa-3x social"></i></a>
                        <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp"
                                class="fa fa-google-plus-square fa-3x social"></i></a>
                        <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
                    </div>
                    <!-- </div> -->
                </section>
            </div>
        </div>

    </div>
</body>
<script>
    console.log('*************', document.getElementById("user").options[0].id);
    // Close Error button...
    var close = document.getElementsByClassName("closebtn");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            $("#error").attr("style", "opacity:0")
            setTimeout(function () { $("#error").attr("style", "display:none") }, 600);
        }
    }
    // var selectedUser = $('#user').find(":selected").val();
    // if (selectedUser !== "null") {
    //     // $("#user option[value=default]").remove()
    // }
    let amount = 1;

    $('#user').change(function () {
        var id = $(this).val();
        var value = $("#user option:selected").text();

        let options = {
            method: 'GET',
            headers: {
                'Content-Type':
                    'application/json;charset=utf-8'
            },
        }

        let fetchRes = fetch(`http://192.168.0.120:3000/api/user/${id}`, options);
        fetchRes.then(res =>
            res.json()).then(d => {
                let receiverPublicKey = d.data.userDetails.wallet.public_key
                console.log('receiverPublicKey-----------------------', receiverPublicKey);
                $("textarea#t3").val(receiverPublicKey);

                $("#n1").removeAttr("readonly");
            })
    });

    $('#add-block').click(function (e) {
        console.log(':::::: Moon');
        e.preventDefault()
        var selectedUser = $('#user').find(":selected").val();
        console.log('selectedUser--------=========----------------------------------------------------', selectedUser);
        if (selectedUser == "") {
            $("#error").attr("style", "opacity:1")
            $("#error").attr("style", "display:block")
            $('#error').html('<strong>ERROR!</strong> Please select user');

        } else {
            // var senderKey = $('#t2').val();
            var transitionHash = $('#t1').val();
            var senderKey = $('#t2').val();
            var receiverKey = $('#t3').val();
            var amount = $('#n1').val();
            var signature = $('#t4').val();
            console.log('transitionHash..', transitionHash);
            console.log('111111111111111111111111', amount);
            if (amount == 0) {
                $("#error").attr("style", "opacity:1")
                $("#error").attr("style", "display:block")
                $('#error').html('<strong>ERROR!</strong> Please add amount');
            } else {
                $("#error").attr("style", "opacity:0")
                $("#error").attr("style", "display:none");
                let body = {
                    payeer_public_key: senderKey,
                    payee_public_key: receiverKey,
                    signature: JSON.parse(localStorage.getItem('signature')),
                    amount: amount,
                    transactionHash: transitionHash
                }
                $.post('http://192.168.0.120:3000/api/user/add-block/', body, function (response) {
                    // alert("success");
                    if (!response.success) {
                        $("#error").attr("style", "opacity:1")
                        $("#error").attr("style", "display:block")
                        $('#error').html(`<strong>ERROR!</strong> ${response.message}`);
                    } else {
                        // $("textarea#t4").attr("value", response.data.signature.data.toString());
                        console.log('response.data.chain.length---------------', response.data);
                        console.log('response.data.chain.length---------------', response.data.chain.chain);
                        console.log('response===ADDDDDDDDDDDDD BLOCK==', response.data.chain[response.data.chain.length]);
                        let chain = response.data.chain.chain;
                        let lastTransaction = chain[chain.length - 1]
                        localStorage.setItem('lastTransaction', JSON.stringify(lastTransaction))
                        // window.location = "http://192.168.0.120:3000/api/transaction/"
                        window.location = 'http://192.168.0.120:3000/api/transaction'
                    }
                });

            }
        }
    });
    // }
    $('#logout').click(function (e) {
        e.preventDefault()
        // window.location = 'http://192.168.0.120:3000/api/user/register';
        window.location = 'http://192.168.0.120:3000/api/login';
        // localStorage.removeItem('login_user');
        localStorage.clear();
    })

    $('#cancel').click(function (e) {
        e.preventDefault()
        window.location = 'http://192.168.0.120:3000/api/wallet'
    })
    function amountChange(val) {
        console.log("The input value has changed. The new value is: " + val);
        var receiverKey = $('#t3').val();
        var senderKey = $('#t2').val();
        if (!receiverKey) {
            $("#error").attr("style", "opacity:1")
            $("#error").attr("style", "display:block")
            $('#error').html('<strong>ERROR!</strong> Please select user');
        } else {
            let body = { payeer_public_key: senderKey, payee_public_key: receiverKey, amount: val }
            $.post('http://192.168.0.120:3000/api/user/create-transaction-hash', body, function (response) {
                // alert("success");
                console.log('response===hashhhhhhhhhhhhh==', response);
                if (!response.success) {
                    $("#error").attr("style", "opacity:1")
                    $("#error").attr("style", "display:block")
                    $('#error').html(`<strong>ERROR!</strong> ${response.message}`);
                } else {
                    $("textarea#t1").val(response.data);
                    body.transaction_hash = response.data;
                    $.post('http://192.168.0.120:3000/api/user/add-signture', body, function (response) {
                        // alert("success");
                        localStorage.setItem('signature', JSON.stringify(response.data.signature))
                        console.log('response===ssssssssssssssss==', response.data.signature.data.toString());
                        if (!response.success) {
                            $("#error").attr("style", "opacity:1")
                            $("#error").attr("style", "display:block")
                            $('#error').html(`<strong>ERROR!</strong> ${response.message}`);
                        } else {
                            $("textarea#t4").val(response.data.signature.data.toString());
                        }
                    });

                }
            });
        }


    }

        // document.getElementById('n1').addEventListener('change', function () {
        //     console.log('You selected: ', this.value);
        // });
</script>


<script type="text/javascript" src="/javascripts/select2.min.js"></script>
<script>
    $("#user").select2({
        placeholder: "Select User",
        allowClear: true
    });
</script>

</html>