<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <meta charset="UTF-8">
    <title> Login Form </title>
    <!-- <link rel="stylesheet" href="style.css"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
            background: linear-gradient(to top, #bbbaba 0%, #ffffff 100%);
        }

        .container {
            max-width: 700px;
            width: 100%;
            background-color: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            margin-top: -100px;
            height: 60%;
        }

        .container .title {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

        .container .title::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

        .content form .user-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }

        form .user-details .input-box {
            margin-bottom: 15px;
            /* width: calc(100% / 2 - 20px); */
            width: 100%;
        }

        form .input-box span.details {
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .user-details .input-box input {
            height: 45px;
            width: 100%;
            outline: none;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 15px;
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
        }

        .user-details .input-box input:focus,
        .user-details .input-box input:valid {
            /* border-color: #9b59b6; */
            border-color: black;
        }

        form .gender-details .gender-title {
            font-size: 20px;
            font-weight: 500;
        }

        form .category {
            display: flex;
            width: 80%;
            margin: 14px 0;
            justify-content: space-between;
        }

        form .category label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        form .category label .dot {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background: #d9d9d9;
            border: 5px solid transparent;
            transition: all 0.3s ease;
        }

        #genderChoice1:checked~.category label .one,
        #genderChoice2:checked~.category label .two,
        #genderChoice3:checked~.category label .three {
            /* background: #9b59b6; */
            background: black;
            border-color: #d9d9d9;
        }

        form input[type="radio"] {
            display: none;
        }

        form .button {
            height: 45px;
            margin: 35px 0
        }

        form .button input {
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
            /* background-color: rgb(79, 79, 82, 0.5); */
            margin-bottom: 15px;
        }

        form .button input:hover {
            /* transform: scale(0.99); */
            /* background: linear-gradient(-135deg, #71b7e6, #9b59b6); */
            background-color: rgb(79, 79, 82, 0.7);
        }

        .l1 {
            background-color: cadetblue;
        }

        .cnl {
            background-color: black;
            opacity: 0.7;
        }

        .eyeIcon {
            margin-top: 15px;
            /* left: 815px; */
            margin-left: -38px;
            position: absolute;
        }

        .alert {
            padding: 12px;
            background-color: #DFF2BF;
            color: #270;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 5px;
            display: none;
            /* display: block; */
            /* max-width: 374px; */
            word-wrap: break-word;
        }

        .alert1 {
            background-color: rgb(196, 88, 88) !important;
            color: white !important;
        }

        .c1 {
            text-align: center;
            margin-top: 25px;
            font-size: 14px;
            opacity: 0.5;
        }

        @media(max-width: 584px) {
            .container {
                max-width: 100%;
            }

            form .user-details .input-box {
                margin-bottom: 15px;
                width: 100%;
            }

            form .category {
                width: 100%;
            }

            .content form .user-details {
                max-height: 300px;
                overflow-y: scroll;
            }

            .user-details::-webkit-scrollbar {
                width: 5px;
            }
        }

        @media(max-width: 459px) {
            .container .content .category {
                flex-direction: column;
            }
        }
    </style>

</head>

<body onload="myFunction()">

    <!-- <body> -->
    <div class="container">
        <div id="success" class="alert">
            <span class="closebtn">&times;</span>
        </div>
        <div id="error" class="alert alert1">
            <span class="closebtn">&times;</span>
        </div>

        <div class="title">Login</div>
        <div class="content">
            <!-- <form action="#"> -->
            <form id="userLoginForm" action="http://192.168.1.164:3000/auth/login" , method="POST">
                <div class="user-details">
                    <div class="input-box">
                        <!-- <span class="details">Username</span> -->
                        <!-- <input type="text" id="uname" name="uname"
                            placeholder="eg. Node NBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnqG" required> -->

                        <span class="details">Email</span>
                        <input type="email" id="uname" name="uname" placeholder="eg. example@gmail.com" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="password" id="password" name="password" placeholder="Enter your password"
                            minlength="6" maxlength="15" required>
                        <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password eyeIcon"></span>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" class="l1" value="Sign in">
                    <!-- <button type="button" class="cancelbtn"
                    onclick="window.location='http://192.168.0.120:2002/users/register'">Cancel</button> -->
                    <input type="button" class="cnl" value="Cancel"
                        onclick="window.location='http://192.168.0.120:2002/users/register'">

                    <!-- <p class="c1">Welcome to the app </p> -->
                    <p class="c1">Please start with Block Chain.. </p>
                    <!-- <button id="login" type="button" class="cancelbtn"
                        onclick="window.location='http://192.168.0.120:2002/users/login'">Login</button> -->
                </div>
            </form>
        </div>
    </div>

</body>
<script>

    function myFunction() {
        // Check now is token exist , if yes, redirect to dashboard..
        let loginUser = localStorage.getItem("login_user");
        console.log('loginUser----------', loginUser);
        if (loginUser !== null) {
            window.location = 'http://192.168.0.120:2002/wallet/'
        }
    }


    $("body").on('click', '.toggle-password', function () {
        $(this).toggleClass("fa-eye fa-eye-slash");

        var input = $("#password")

        if (input.attr("type") === "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

    $("#userLoginForm").submit(function (event) {
        /* stop form from submitting normally */
        event.preventDefault();

        /* get the action attribute from the <form action=""> element */
        var $form = $(this),
            url = $form.attr('action');

        /* Send the data using post*/
        var posting = $.post(url, {
            name: $('#uname').val(),
            password: $('#password').val()
        });

        /* Alerts the results */
        posting.done(function (res) {
            console.log('d----------------------', res);
            if (res.success) {
                localStorage.setItem('login_user', JSON.stringify(res.data));

                // $('#result').text('success');
                // window.location.href = 'http://192.168.0.120:2002/users/home'

                $("#error").attr("style", "opacity:0")
                $("#error").attr("style", "display:none")

                $("#success").attr("style", "opacity:1")
                $("#success").attr("style", "display:block")
                $('#success').html(`<strong>Successfully login!</strong>`);
                window.location.href = 'http://192.168.0.120:2002/wallet/'
            } else {
                $("#error").attr("style", "opacity:1")
                $("#error").attr("style", "display:block")
                $('#error').html(`<strong>${res.message}!</strong>`);
            }
        });
        posting.fail(function (res) {
            console.log('fail---------------------', res.statusText);
            // alert(res.statusText)
            $("#error").attr("style", "opacity:1")
            $("#error").attr("style", "display:block")
            $('#error').html(`<strong>${res.statusText}!</strong>`);
            // $('#result').text('failed');
        });
    });

    var close = document.getElementsByClassName("closebtn");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            $("#success").attr("style", "opacity:0")
            setTimeout(function () { $("#success").attr("style", "display:none") }, 600);
            $("#error").attr("style", "opacity:0")
            setTimeout(function () { $("#error").attr("style", "display:none") }, 600);
        }
    }
</script>

</html>